SITE_URL=https://cmstrength.cc
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
RESEND_API_KEY=re_xxx
RESEND_FROM_EMAIL=CM Strength <programs@cmstrength.cc>
RESEND_REPLY_TO_EMAIL=coach.cmstrength@gmail.com
SITE_OWNER_EMAIL=coach.cmstrength@gmail.com
